{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Ajout d'icônes Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="shortcut icon" href="{% static 'authentification/LogoTest1.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'igogek/edit.css' %}">
  </head>

  <body>
    <div class="container-fluid">
      <div class="header">
        <a href="{% url 'igogek:index' %}">
            <div class="logo">
                <img src="{% static 'authentification/LogoTest1.png' %}" alt="">
                <h1>IDoGek</h1>
            </div>
        </a>

        <div class="profil">
          <nav class="user-menu">
            <details>
              <summary>
                <i class="bi bi-person-circle"></i>
                <span>{{ user.username }}</span>
              </summary>
              <ul>
                <a href="{% url 'igogek:profil' %}"><li>Profil</li></a>
                <a href="{% url 'authentification:logout' %}"><li>Sign Out</li></a>
              </ul>
            </details>
          </nav>
        </div>
      </div>

      <div class="column">
        <div id="info">
          <div class="rounder">
            <i class="bi bi-person"></i>
          </div>

          <h3>Edit Informations</h3>

          <form method="POST" action="{% url 'igogek:edit' %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Your Name" required value=" {{ user.first_name }} " />

            <input type="text" name="surname" placeholder="Your surname" required value=" {{ user.last_name }} " />

            <input type="email" name="email" placeholder="Your email" required value="{{ user.email }}" />

            <input type="text" name="username" placeholder="Username" required value=" {{ user.username }} " />

            <input type="text" name="profession" placeholder="profession" required value=" {{ user.profession }} " />

            <button type="submit">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
